/* src/index.css */

/* AS TRÊS LINHAS MÁGICAS PARA O TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* SEUS ESTILOS PADRÕES ABAIXO */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* O Tailwind vai LER este arquivo, processar os @tailwind e ESCREVER o resultado em output.css */